
/* Product section */
.product-section {
    background-color: #f5f5f5; /* Light Gray */
    padding: 32px 16px;
}

/* Product grid */
.productg {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.product-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-box:hover {
    transform: translateY(-8px);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
}

.product-title {
    font-size: 19px;
    font-weight: bold;
    color: #333333; /* Dark Gray */
    margin-bottom: 8px;
}

.pro h1 {
    text-align: center;
    margin-bottom: 48px;
}

.product-price {
    font-size: 16px;
    color: #006838; /* Wimbledon Green */
    font-weight: bold;
}

.prods h1 {
    text-align: center;
    margin-bottom: 80px;
}

/* Product details section */
.prodetails{
    display: flex;
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
}
 .single-pro-image{
    width: 25%;
    margin-right: 50px;
    padding-top: 30px;
    border: 1px solid #ddd;
    width: 300px;
    text-align: center;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.prodetails1{
    width: 50%;
    padding-top: 30px;
}
.prodetails1 h4{
    padding: 40px 0 20px 0;
    font-size: 40px;
}
.prodetails1 h2{
    font-size: 26px;
}
.prodetails input{
    width: 50px;
    height: 25px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#add-to-cart{
    /* Style for the button */
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 30px;
    text-align: center;
    font-size: 12px; 
    border: none;
    cursor: pointer; 
  }
  #add-to-cart :hover {
    background-color: #45a049;
  }
.prodetails1 span{
    line-height: 25px;
}
.product-section h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}